



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Data</title>
</head>
<body>
    <h1>School Data</h1>
    <table border="1">
        <thead>
            <tr>
                
                <tr>
                    {% for i in tableHeaders %} 
                    <td>{{ i }}</td>
                    {% endfor %}
                </tr>
     
            </tr>
        </thead>
        <tbody>


            {% for i in data %} 
            <tr>
                <td>{{ i.student_id }}</td>
                <td>{{ i.school_name }}</td>
            </tr>
        {% endfor %} 

          
        </tbody>
    </table>
</body>
</html>

